



html {
    scroll-behavior: smooth;
}

.reservation_item {
    display: flex;
}

.reservation .reserv_img {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}

.reservation .reserv_img img {
    height: 84vh;
}

.reserv_info {
    width: 50%;
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.reserv_info .info {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.reserv_info .info button {
    background: transparent;
    border: 1px solid;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.reserv_info .info button:hover {
    background: black;
    color: white;
}

.fav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation_details {
    padding: 50px 0px 20px 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reservation_details_item {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 50px 35px;
}

.location {
    padding: 0px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.location .map img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.footer {
    padding: 30px 30px;
}

footer {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px 30px;
}

footer ul input {
    width: 90%;
    height: 30px;
    border-radius: 0px;
    border: 1px solid gray;
    padding: 2px 20px;
}

footer ul input:focus {
    outline: none;
}

footer ul button {
    width: 100%;
    height: 30px;
    border: none;
    background: #000000;
    color: white;
    padding: 0px 20px;
    cursor: pointer;
}

.footer .logo img {
    padding-left: 20px;
}

.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
}

.search-bar .container {
    width: 100%;
    margin: 0px auto;
    padding: 10px;
    background: white;
}

.button button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
    width: 300px;
    padding: 20px -21px;
    height: 40px;
    gap: 20px;
    cursor: pointer;
}

.search-bar form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar form span {
    background: gray;
    width: 1px;
    height: 20px;
    margin-right: 20px;
}

.search-bar form input,
select {
    border: none;
    text-align: center;
    cursor: pointer;
}

.search-bar form input:focus {
    outline: none;
}

.search-bar form select:focus {
    outline: none;
}

.search-bar .arrival,
.depature,
.guest {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar #Person {
    width: 150px;
    color: rgba(0, 0, 0, 0.6);
}

.search-bar #search {
    background: black;
    color: white;
    padding: 5px 20px;
}

.search-bar .button {
    display: none;
    cursor: pointer;
}

footer ul li {
    list-style: none;
}

@media (max-width: 768px) {
    .search-bar .container {
        display: none;
    }

    .search-bar .button {
        display: flex;
    }
}

@media screen and (max-width: 1200px) {
    .guest_items .img {
        width: 90vw;
        height: 50vh
    }
}

.no-overflow {
    overflow: hidden;
}
