

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'EB Garamond', serif;
}





header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 30px;
	background: transparent;
	transition: all 0.5s ease-out;
	height: 15vh;
	

}

header:hover {
	background: white;
}

.menu-search {
	display: flex;
	gap: 20px;
}

.menu,
.search {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.logo img {
	max-width: 80px;
	height: auto;
	cursor: pointer;
}


.menu-items {
	width: 400px;
	height: 100vh;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: fixed;
	top: 0;
	left: -100%;
	padding: 0px 30px;
	transition: all 0.5s ease-out;
}





.reservation-btn a, .sign-in a{
	text-decoration: none;
    color: black;
}



@media screen and (max-width: 480px) {
	.video-section h1 {
		font-size: 25px;
		transform: translate(-50%, -150%);
	}
}



@media screen and (max-width: 1200px) {
	.guest_items .img {
		width: 90vw;
		height: 50vh
	}
}


.banner{
	
	margin: 0 auto ;
	object-fit: cover;
	position: relative;
	height: 214px;
	
}
.banner img{
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.banner h1{
	margin-top: 40px;
	text-align: center;
	position: absolute;
	font-size: 50px;
	background: white;
	transform: translate(-50%,-50%);
	width: 560px;
	height: 100px;
	left: 13.73%;
	top: 76.5%;
}



.liste{
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 10px;
	padding-top: 50px;
}
.liste h2{
	border-bottom: 2px black solid;
}
ul{
	display: flex;
	justify-content: space-around;
}
ul li{
	padding-top: 50px;
	padding-bottom: 50px;
}
.user form{

	width: 50px;
	display: flex;
}

.user p{
	margin-right: 15px;
}

.is_admin form{
	display: flex;
	justify-content: space-around;
}

.is_admin p{
	margin-right: 15px;
	margin-left: 80px;
}

.is_staf form{
	display: flex;
	justify-content: space-around;
}

.is_staf p{
	margin-right: 15px;
	margin-left: 40px;
}

.is_active form{ 
	display: flex;
	justify-content: space-around;
}

.is_active p{
	margin-right: 15px;
	margin-left: 40px;
}

ul li form button{
	background: black;
	color: white;
	padding: 5px 20px;
	
	border: none;
	text-align: center;
	cursor: pointer;
}
