/* Logo */

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 150px;
    height: 150px;
}

/*Mot de passe oublié*/

.forgot_password_body{
    height: 100vh;
}

.forgot_password_form {
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EFEFEF;
    padding: 50px;
}

.forgot_password_form form input{
    width: 100%;
    padding: 0.5em;
    
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

form button{
    background:black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    text-align: center;
    
    width: 100%;
    margin-top: 2em;
    padding: 1em;
}

form button:hover{
    background: white;
    color: black;
    transition: 0.5 ease-in-out;
    padding: 1em;
}

/*Responsive*/
@media screen and (max-width:500px){
    .logo img {
        max-width: 150px;
        max-width: 150px;
    }

    .forgot_password_form {
        width: 50%;
        /* background: red; */
        font-size: 15px;
    }

    form button{
        background: green;
        font-size: 10px;
        font-weight: 500;
    }
}