.menu-above-video {
	position: relative;
	z-index: 2;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'EB Garamond', serif;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 0 30px;
	transition: 1s ;
	height: 16vh;
}

header:hover {
	background: white;
}

.menu-search {
	display: flex;
	gap: 20px;
}

.menu,
.search {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.logo img {
	max-width: 80px;
	height: auto;
	cursor: pointer;
}

.reservations {
	display: flex;
	gap: 20px;
}

.reservations span {
	cursor: pointer;
}

.cart-icon {
	position: relative;
	display: none;
	cursor: pointer
}

.cart-icon .cart-count {
	position: absolute;
	top: -5px;
	right: -5px;
	width: 10px;
	height: 10px;
	background-color: black;
	color: white;
	border-radius: 50%;
	text-align: center;
	line-height: 10px;
	font-size: 8px;
	cursor: pointer;
}

.menu-items {
	width: 400px;
	height: 100vh;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: fixed;
	top: 0;
	left: -100%;
	padding: 0px 30px;
	transition: all 0.5s ease-out;
}

.menu-items .icon {
	display: flex;
	justify-content: end;
	cursor: pointer;
}

.menu-items span {
	cursor: pointer;
}

.form-control {
	height: 30px;
	width: 200px;
	margin-top: 10px;
  border: 1px solid;
}

.icon .icn {
	font-size: 25px;
}


.video-section {
	position: relative;
	height: 85vh;
}

.video-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(176.62deg, #FFFFFF -69.3%, #F9F9F9 -50.22%, rgba(217, 217, 217, 0) 97.21%);
}

.mute,
.pause {
	display: flex;
}

.high,
.play {
	display: none;
}

.mute-icon {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	color: white;
	font-size: 24px;
	cursor: pointer;
}

.pause-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
	color: white;
	font-size: 24px;
	cursor: pointer;
}

.video-section h1 {
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -250%);
	z-index: 1;
	color: black;
	font-size: 45px;
	white-space: nowrap;
}
.reservation-btn a, .sign-in a{
	text-decoration: none;
    color: black;
}
@media screen and (max-width: 768px) {

	.menu span,
	.search span,
	.reservation-btn {
		display: none;
	}

	.cart-icon {
		display: inline-block;
	}

	.video-section h1 {
		font-size: 35px;
		transform: translate(-50%, -200%);
	}

	.video-section h1 {
		white-space: normal;
		text-align: center;
	}
}

.container-div {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.container-div .img {
	margin-right: 10px;
}

.container-div .img img {
	width: 500px;
	height: auto;
  cursor: pointer;
}

html {
	scroll-behavior: smooth;
  }
  
  .reservation_item {
	 display: flex;
  }
  
  .reservation .reserv_img {
	 display: flex;
	 flex-direction: column;
	 width: 50%;
	 position: relative; 
  }
  .reservation .reserv_img img{
	 height: 84vh;
  }
  .reserv_info {
	 width: 50%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 position: sticky;
	 top: 0;
	 z-index: 1; 
  }
  
  .reserv_info .info {
     background-color: rgba(217, 217, 217, 1);
     padding: 100px;
     border: #000000;
	 display: flex;
	 gap: 30px;
	 flex-direction: column;
  }
  
  .reserv_info .info button {
	 background: transparent;
	 border: 1px solid;
	 padding: 10px;
	 transition: 0.5s;
	 cursor: pointer;
  }
  
  .reserv_info .info button:hover {
	 background: black;
	 color: white;
  }
  
  .fav {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
  }
  
  .reservation_details{
	 padding: 50px 0px 20px 20px;
	  width: 50%;
	  display: flex;
	  flex-direction: column;
	  gap: 20px;
  }
  .reservation_details_item{
	 width: 50%;
	  display: flex;
	  justify-content: space-between;
	  padding: 20px 0px 50px 35px;
  }
  .location{
	 padding: 0px 20px 30px 20px;
	 display: flex;
	 flex-direction: column;
	 gap: 30px;
  }
  
  .location .map img{
	 width: 100%;
	  height: 90vh;
	  object-fit: cover;
  }
  .footer {
	  padding: 30px 30px;
      background-color: rgba(217, 217, 217, 1);
  }
  
  footer {
	  display: flex;
	  gap: 30px;
	  justify-content: space-between;
	  flex-wrap: wrap;
	  align-items: flex-start;
	  padding: 0px 30px;
  }
  
  footer ul input {
	  width: 90%;
	  height: 30px;
	  border-radius: 0px;
	  border: 1px solid gray;
	  padding: 2px 20px;
  }
  
  footer ul input:focus {
	  outline: none;
  }
  
  footer ul button {
	  width: 100%;
	  height: 30px;
	  border: none;
	  background: #000000;
	  color: white;
	  padding: 0px 20px;
	cursor: pointer;
  }
  
  .footer .logo img {
	  padding-left: 20px;
  }
  
  .search-bar {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, 150%);
	  z-index: 1;
	  background-color: rgba(255, 255, 255, 0.7);
  }
  
  .search-bar .container {
	  width: 100%;
	  margin: 0px auto;
	  padding: 10px;
	  background: white;
  }
  
  .button button {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background: white;
	  border: none;
	  width: 300px;
	  padding: 20px -21px;
	  height: 40px;
	  gap: 20px;
	cursor: pointer;
  }
  
  .search-bar form {
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
  
  .search-bar form span {
	  background: gray;
	  width: 1px;
	  height: 20px;
	  margin-right: 20px;
  }
  
  .search-bar form input,
  select {
	  border: none;
	  text-align: center;
	  cursor: pointer;
  }
  
  .search-bar form input:focus {
	  outline: none;
  }
  
  .search-bar form select:focus {
	  outline: none;
  }
  
  .search-bar .arrival,
  .depature,
  .guest {
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
  .search-bar #Person {
	  width: 150px;
	color: rgba(0, 0, 0, 0.6);
  }
  
  .search-bar #search {
	  background: black;
	  color: white;
	  padding: 5px 20px;
  }
  
  .search-bar .button {
	  display: none;
	cursor: pointer;
  }
  footer ul li{
	 list-style: none;
  }
  
  @media (max-width: 768px) {
	  .search-bar .container {
		  display: none;
	  }
  
	  .search-bar .button {
		  display: flex;
	  }
  }
  
  @media screen and (max-width: 1200px) {
	  .guest_items .img {
		  width: 90vw;
		  height: 50vh
	  }
  }
  
  .no-overflow {
	overflow: hidden;
  }

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

